name: ci

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  buf-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4 # v4 # v2.1.1
        with:
          ref: ${{ github.ref }}

      - uses: bufbuild/buf-setup-action@v1.34.0

      - name: buf lint and breaking
        uses: bufbuild/buf-action@v1
        with:
          lint: true
          breaking: true
          format: false
          breaking_against: 'https://github.com/getsentry/sentry-protos.git#branch=main'

  codegen-rust:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4 # v4 # v2
        with:
          fetch-depth: 0

      - name: Install protoc
        uses: arduino/setup-protoc@v3
 
      - name: Build Rust bindings
        run: |
          make build-rust

      - uses: dorny/paths-filter@v3
        id: changes
        with:
          token: ${{ github.token }}
          filters: |
            files:
              - 'proto/**'
              - 'build_rust/src/main.rs'

      - name: Get a GitHub application token
        if: steps.changes.outputs.files == 'true'
        id: token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2 # v2 # v2
        with:
          app-id: ${{ vars.SENTRY_INTERNAL_APP_ID }}
          private-key: ${{ secrets.SENTRY_INTERNAL_APP_PRIVATE_KEY }}

      - name: Commit generated Rust bindings
        if: steps.changes.outputs.files == 'true'
        uses: getsentry/action-github-commit@main
        with:
          message: "chore: Regenerate Rust bindings"
          github-token: ${{ steps.token.outputs.token }}

  codegen-python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4 # v4 # v2
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v2
        with:
          python-version: 3.11

      - name: build python bindings
        run: |
          pip install -r requirements.txt
          make build-py

      - name: run python tests/examples
        run: |
          make test-py
